import java.util.ArrayList;
import java.util.LinkedList;
import java.util.Queue;

public class Hotel {
    private int temp = 3;
    private Queue<MyThread> Qthread;
    private ArrayList<String> Lthread;
    public Hotel(){
        Lthread = new ArrayList<String>();
        Qthread = new LinkedList<MyThread>();
    }

    public synchronized boolean CheckIn(MyThread a){
        if(Lthread.size() < temp){
            Lthread.add(a.getName());
            a.Checked();
            System.out.println(a.getName() + " IN");
            return true;
        }else{
            a.MyWait();
            Qthread.add(a);
            System.out.println(a.getName() + " wait");
            return false;
        }
    }

    public synchronized void CheckOut(MyThread a){
        Lthread.remove(a.getName());
        if(Qthread.peek() != null){
            Qthread.peek().Continue();
            Qthread.poll();
        }
        System.out.println(a.getName() + " OUT");
    }
}
public class MyThread implements Runnable {

    private Thread thr;
    private int time;
    private int timeStart;
    private String name;
    private boolean In = false;
    private boolean Flag;
    private Hotel hot;

    public MyThread(Hotel hot, String name, int time, int timeStart){
        this.name = name;
        this.time = time;
        this.hot = hot;
        this.timeStart = timeStart;
        Flag = false;
        thr = new Thread(this);
        thr.start();
    }

    public synchronized void MyWait(){
        Flag = true;
    }

    public synchronized void Continue(){
        Flag = false;
        notify();
    }

    public void Checked(){
        In = true;
    }

    public String getName(){
        return name;
    }

    public void run(){
        try {
            thr.sleep(timeStart);
            while(!In){
                hot.CheckIn(this);
                synchronized(this){
                    while(Flag){
                        wait();
                    }
                }
            }
            thr.sleep(time);
            hot.CheckOut(this);
        } catch (InterruptedException e) {
            e.printStackTrace();
        }
    }
}
public class Testing {
    public static void main(String[]args){

        Hotel hot = new Hotel();
        
        MyThread t1 = new MyThread(hot,"Александр-1",3000,500);
        
        MyThread t2 = new MyThread(hot,"Борис-2",1100,600);
        
        MyThread t3 = new MyThread(hot,"Виктор-3",1400,700);
        
        MyThread t4 = new MyThread(hot,"Геннадий-4",3000,800);
        
        MyThread t5 = new MyThread(hot,"Дмитрий-5",3000,900);
        
        MyThread t6 = new MyThread(hot,"Екатерина-6",3,1000);
        
        MyThread t7 = new MyThread(hot,"Жора-7",1400,1100);
        
        MyThread t8 = new MyThread(hot,"Зинаида-8",3000,1200);
        
        MyThread t9 = new MyThread(hot,"Игорь-9",1300,1300);
        
        MyThread t10 = new MyThread(hot,"Коля-10",3000,5000);

    }
}
